---
import BaseLayout from '@/layouts/base.astro'
import { buttonVariants } from '@/components/ui/button'
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from '@/components/ui/card'
import SignIn from '@/svg/sign_in.svg'

if (Astro.locals.user) {
  return Astro.redirect('/')
}
---

<BaseLayout>
  <div class="w-full lg:grid lg:grid-cols-2">
    <div class="flex items-center justify-center py-12">
      <Card className="w-full max-w-sm">
        <CardHeader>
          <CardTitle className="text-center text-2xl">Log in to LazyLaunch</CardTitle>
        </CardHeader>
        <CardContent>
          <a href="/login/google" class={`${buttonVariants()} w-full`}>Continue with Google</a>
        </CardContent>
        <CardFooter className="block">
          <div class="mt-4 text-center text-sm">
            Don&apos;t have an account?{' '}
            <a href="/signup" class="underline"> Sign up </a>
          </div>
        </CardFooter>
      </Card>
    </div>
    <div class="flex items-center justify-center py-12">
      <img src={SignIn.src} alt="Sign in" class="dark:brightness-[0.2] dark:grayscale" />
    </div>
  </div>
</BaseLayout>
