---
import ProjectLayout from '@/layouts/project/project-layout.astro'

import { buttonVariants } from '@/components/ui/button'

const team = Astro.locals.team!
const project = Astro.locals.project!
---

<ProjectLayout>
  <div class="container flex flex-col space-y-6">
    <a class={buttonVariants()} href={`/${team.slug}/${project.slug}/campaigns/new`}>
      New Campaign
    </a>
  </div>
</ProjectLayout>
