---
import ProjectLayout from '@/layouts/project/project-layout.astro'

import { Separator } from '@/components/ui/separator'

import { CampaignsDetailForm } from '@/components/campaigns/campaigns-detail-form'
import { CampaignsInboxPreview } from '@/components/campaigns/campaigns-inbox-preview'

import { DEFAULT_CAMPAIGN_DETAILS } from '@/stores/campaign-store'

const team = Astro.locals.team!
const project = Astro.locals.project!
const csrfToken = Astro.locals.csrfToken!
const cancelUrl = `/${team.slug}/${project.slug}/campaigns`
---

<ProjectLayout>
  <div class="container space-y-6">
    <div class="space-y-0.5">
      <h2 class="text-2xl font-bold tracking-tight">Campaign Details</h2>
      <p class="text-muted-foreground">
        Enter 'Subject' and other sending details. Check preview on the side to see how your
        campaign will appear in the inbox.
      </p>
    </div>
    <Separator />
    <div class="flex justify-between gap-24">
      <CampaignsDetailForm
        client:load
        className="basis-1/2"
        cancelUrl={cancelUrl}
        defaultValues={{ ...DEFAULT_CAMPAIGN_DETAILS, csrfToken }}
      />
      <CampaignsInboxPreview client:load className="h-full basis-1/2" />
    </div>
  </div>
</ProjectLayout>
