---
import BaseLayout from '@/layouts/Base.astro'

const user = Astro.locals.user
if (!user) return Astro.redirect('/login')
---

<BaseLayout>
  <h1>Hi, {user.name}!</h1>
  <p>Your user ID is {user.id}.</p>
  <form method="post" action="/api/logout">
    <button>Sign out</button>
  </form>
</BaseLayout>
