---
import AccountSettingsLayout from '@/layouts/account/AccountSettingsLayout.astro'
import { CardForm } from '@/components/account/settings/CardForm'

const user = Astro.locals.user!
const csrfToken: string = Astro.locals.csrfToken!

const title = 'Account Settings'
const description = 'Manage your account settings and set e-mail preferences.'
const bodyTitle = 'Profile'
const bodyDescription = 'This is how others will see you on the site.'
---

<AccountSettingsLayout {...{ title, description, bodyTitle, bodyDescription }}>
  <CardForm
    client:only="react"
    inputName="name"
    inputVal={user.name}
    csrfToken={csrfToken}
    title="Display Name"
    label="This is your public display name. It can be your real name or a pseudonym."
    footerTitle="Please use 32 characters at maximum."
    apiUrl="/account/update"
    method="PUT"
    successMsg="Your display name has been updated."
    errorMsg="Your display name hasn't been updated."
  />

  <CardForm
    client:only="react"
    className="mt-9"
    inputName="email"
    inputVal={user.email}
    csrfToken={csrfToken}
    inputType="email"
    fieldType="select"
    title="Email address"
    label="Emails must be verified to be able to login with them or be used as primary email."
    footerTitle="You can manage verified email addresses in your <a href='/account/email-settings' class='underline'>email settings</a>."
    selectItems={[
      {
        val: user.email,
        text: user.email,
        badges: [
          { text: 'Primary', type: 'primary' },
          { text: 'Verfied', type: 'primary' },
        ],
      },
    ]}
    apiUrl="/account/update"
    method="PUT"
    successMsg="Your email address has been updated."
    errorMsg="Your email address hasn't been updated."
  />
</AccountSettingsLayout>
