---
import AccountLayout from '@/layouts/AccountLayout.astro'
---

<AccountLayout>
  <div class="mx-auto grid w-full max-w-6xl gap-2">
    <h1 class="text-3xl font-semibold">Account Settings</h1>
  </div>
</AccountLayout>
