---
import BaseLayout from '@/layouts/Base.astro'
import { buttonVariants } from '@/components/ui/button'
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from '@/components/ui/card'
import SignUp from '@/svg/sign_up.svg'

if (Astro.locals.user) return Astro.redirect('/')
---

<BaseLayout>
  <div class="w-full bg-muted/40 lg:grid lg:grid-cols-2">
    <div class="flex items-center justify-center py-12">
      <Card className="w-full max-w-sm">
        <CardHeader>
          <CardTitle className="text-center text-2xl">Sign up for LazyLaunch</CardTitle>
        </CardHeader>
        <CardContent>
          <a href="/signup/google" class={`${buttonVariants()} w-full`}>Continue with Google</a>
        </CardContent>
        <CardFooter className="block">
          <div class="mt-4 text-center text-sm">
            Already have an account?{' '}
            <a href="/" class="underline"> Sign in </a>
          </div>
        </CardFooter>
      </Card>
    </div>
    <div class="flex items-center justify-center py-12">
      <img src={SignUp.src} alt="Sign up" class="dark:brightness-[0.2] dark:grayscale" />
    </div>
  </div>
</BaseLayout>
