---
import BaseLayout from '@/layouts/base.astro'
import { UserMenuComponent } from '@/components/user-menu-component'

import type { UserProps } from '@/components/avatar-component'

const user = Astro.locals.user as UserProps
const csrfToken = Astro.locals.csrfToken!
---

<BaseLayout>
  <div class="flex w-full flex-col">
    <aside class="fixed inset-y-0 left-0 z-10 hidden w-14 flex-col border-r bg-background sm:flex">
      <nav class="flex flex-col items-center gap-4 px-2 sm:py-5">
        <span
          class="group flex h-9 w-9 shrink-0 items-center justify-center gap-2 rounded-full bg-primary text-lg font-semibold text-primary-foreground md:h-8 md:w-8 md:text-base"
        >
          <span>LO</span>
        </span>
        <slot name="navLinks" />
      </nav>
    </aside>
    <div class="flex flex-col gap-4 pl-14">
      <header
        class="sticky top-0 z-50 flex items-center bg-muted/0 justify-between h-auto border-0 pt-4 px-6"
      >
        <slot name="breadcrumbs" />
        <UserMenuComponent client:load user={user} csrfToken={csrfToken} />
      </header>
      <slot />
    </div>
  </div>
</BaseLayout>
