---
import { ViewTransitions } from 'astro:transitions'

import { Toaster } from '@/components/ui/sonner'

import { TailwindIndicator } from '@/components/tailwind-indicator'

import '@/styles/globals.css'
import '@melloware/coloris/dist/coloris.css'
import '@/styles/app.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body
    class="bg-muted/40 font-sans antialiased [&_.slate-selected]:!bg-primary/20 [&_.slate-selection-area]:border [&_.slate-selection-area]:border-primary [&_.slate-selection-area]:bg-primary/10"
  >
    <main id="main">
      <slot />
    </main>
    <Toaster transition:persist client:idle richColors />
    <TailwindIndicator />
  </body>
</html>
