---
import { ViewTransitions } from 'astro:transitions'

import { Toaster } from '@/components/ui/sonner'

import '@/styles/globals.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <main id="main">
      <slot />
    </main>
    <Toaster transition:persist client:idle richColors />
  </body>
</html>
